.idea/*
!/Data/Scripts/tmp/jets.txt
!/Data/Scripts/tmp/props.txt
test/*
src/test/java/*
src/main/resources
/out/
/target/
/Data/Scripts/pdfs/
/Data/Scripts/txts/
/Data/Scripts/tmp/
/.idea
/Data/AllFMsTest/
/Data/testFms
/Data/OtherGraphs/
/AlexStillTalking.iml
*.env
*.pack
Git.7z
/Data/Git
script.sh
/META-INF/MANIFEST.MF
