.idea/*
!/Data/Scripts/tmp/jets.txt
!/Data/Scripts/tmp/props.txt
test/*
src/test/java/*
src/main/resources
/out/
/target/
/.idea
/Data/AllFMsTest/
/Data/testFms
/Data/OtherGraphs/
/AlexStillTalking.iml
*.env
*.pack
Git.7z
/Data/Git/*
script.sh
/META-INF/MANIFEST.MF
Data/Other/gameversion_dev
Data/Other/gameversion_live
/Data/Drag/*
!/Data/Drag/*.dll
!/Data/Drag/drag.exe